# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
out/
dist/
*.vsix

# Editor
.vscode-test/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp
*.tmp
.cache/
